@media screen and (max-width:576px) {
   
    /* section navbar */
    .nav-link{
        display: none;
    }
    .hamburger{
        display: block;
        color:white;
        font-size: 30px;
        margin-right: 30px;
       
    }
    .navbar h3{
        font-size: 36px;
        margin-left: 43px;
        text-align: left;

    }
    .btn-primary{
        width:100px;
        height: 50px;
        margin: 20px 0px;
        padding: 0;
    }
    .download-button{
        height:50px ;
        width:300px ;
        padding: 16px 40px 16px 40px;
        margin: 20px 0px;
    }
    .join-club-now{
        width: 330px;
        height: 50px;
        display: flex;
        margin-left: 2%;
      margin-top: 20px;
    }
    /* section banner */
    .image-font{
    margin-left:-50px;
    margin-top: -20px;
    width:300px;
    height:300px ;
    }
    .banner-text{
        width: 274px;
        height: 96px;
        font-size: 1rem;
        line-height: 24px;
        text-align: left;
        margin-top: -700px;
        
    }
    .image-man{
        display: flex;
        width: 353px;
        height: 500px;
        margin-top: 400px;
        margin-left: -250px;
  
    }
    /* 350+ design */
    .box-offer{
        display: flex;
        margin-top: 250px;
        margin-left: 50px;
        height: 74.09px;
        width: 145.19px;

    }
    /* 500+ design */
    .box-offer-2{
        display: flex;
        height: 74.09px;
        width: 145.91px;
        margin-top: 70px;
        margin-left: 210px;
        

    }
    /* ball design  */
    .ball{
        display: none;
       
    }
    /* Change Your Habits */

    .Your-Habits{
        margin-top: 50px;
        position: absolute;
        align-items: center;

    }
    .Your-Habits h2{
        font-size: 32px;
    }
    .Your-Habits p{
        position: absolute;
    }
    /* Change Your Habits Image */
    .cotainer{
        display: flex;
        flex-direction: column;
        margin-top: 250px;
        text-align: center;

    }
    /* Run an Extra Mile Easily */
    .Mile-Container{
        flex-direction: column;
        margin-top: 60px;
        height: 531px;
        width: 310px;
        margin-left: 8%;
        margin-right: 8%;
   
    }
    .Mile-Container img{
        width: 287px;
        height: 170px;
        border-radius: 20px;
        padding: 0px 33px 0px 33px;
        border-radius:20px;
    }      
    .Mile-Container p{
        width: 287px;
        height: 96px;
        padding: 0px;
        padding: 0px 33px 0px 33px;
        margin-top: 10px;

    }
    .Mile-Container h2{
       width: 287px;
       height: 96px;
       padding: 0px 33px 0px 33px;
    }
    .btn-primary{
        width: 287px;
         height: 54px;
         margin-left: 30px;

    }
    /* Training and Exercises  */
    .Training-div{
        width: 353px;
        height: 162px;
        margin-top: 30px;
        margin-bottom: 120px;
    }
    .Training-div p{
        width: 331px;
        height: 72px;

    }
    /* Training and Exercises Image */
    .container{

        display:grid;
        grid-template-columns: repeat(2,1fr);
        position: relative;
        margin-top: px;

    }
    .ex-img-2{
        width:200px;
        height: 256px;
        position:absolute;
        margin-top: -30px;
    }
    .ex-img-1{
        width: 300px;
        height: 139px;
        position: relative;
        margin-left: -35px;
        margin-top: -30px;

    }
    .ex-img-4{
        width: 168px;
        height: 141px;
        position: absolute;
        margin-left: -100px;

    }

  .ex-img-5{
        width: 200px;
        height: 141px;
        position: absolute;
        margin-left: -35px;
        
}
    .ex-img-3{
        display: none;
    
    }
    .ex-img-6{
        display: none;
    }
    /* BMI-header  */
    .BMI-header h2{
        margin-top: 200px;
        text-align: left;
        margin-left: 30px;


    }
    .BMI-header p{
        text-align: left;
        margin-left: 25px;

    }

    /* BMI calculator  */

    .section-table-and-from{
        margin-top: 60px;
        flex-direction: column;
        width:fit-content;
        align-items: last baseline;
        height: fit-content;
        padding: 30px 30px 0px 30px;

      }
      #box-size{
        padding: 10px;
        width: 150px;
    
      }

    /* Meet Our team header*/
    .our-team{
        margin-left: 40px;
        margin-top: 60px;

       }
       .Meet-Our-team-Image{
        grid-template-columns: repeat(1,1fr);
        padding: 15px;
        margin-left: 6%;

       }
       .Meet-Our-team-Image img{
        width: 350px;
       }
       /* footer section */
       .footer-container{
        flex-direction: column;
        height: fit-content;
       }
       .title{
        text-align: left;
        font-size: 3rem;
        
       }
       .title p{
        margin-bottom: 20px;
        
        

       }
       .footer-end{
        flex-direction: column;
        text-align: left;
        margin-left: -180px;


       }
       #get{

       }
       .copy-right{
        margin-right: 170px;

       }
    
  }

  /* The End */