@media screen and (max-width:576px) {
    .nav-link{
        display: none;
    }
    .hamburger{
        display: block;
        color:white;
        font-size: 30px;
       
    }
    .navbar h3{
        font-size: 36px;
        margin-left: -20px;
        text-align: left;

    }
    .btn-primary{
        width:174px;
        height: 54px;
        margin: 20px 0px;
    }
    .download-button{
        height:54px ;
        width:174px ;
        padding: 16px 40px 16px 40px;
        margin: 20px 0px;
    }
    .image-font{
    margin-left:-50px;
    margin-top: -20px;
    width:300px;
    height:300px ;
    }
    .banner-text{
        width: 274px;
        height: 96px;
        font-size: 1rem;
        line-height: 24px;
        text-align: left;
        margin-top: -700px;
        
    }
    .image-man{
        display: flex;
        width: 353px;
        height: 500px;
        margin-top: 400px;
        margin-left: -250px;
  
    }
    .box-offer{
        display: flex;
        margin-top: 250px;
        margin-left: 50px;
        height: 74.09px;
        width: 145.19px;

    }
    .box-offer-2{
        display: flex;
        height: 74.09px;
        width: 145.91px;
        margin-top: 70px;
        margin-left: 200px;
        

    }
    .ball{
        display: none;
       
    }
    .our-team{
        margin-top: 50px;
        position: absolute;
        align-items: center;

    }
    .our-team p{
        position: absolute;
    }
    .cotainer{
        display: flex;
        flex-direction: column;
        margin-top: 250px;
        text-align: center;

    }
    .Mile-Container{
        flex-direction: column;
        margin-top: 60px;
        height: 531px;
        width: 353px;
        margin-left: 10px;
   
    }
    .Mile-Container img{
        width: 287px;
        height: 170px;
        border-radius: 20px;
        padding: 0px 33px 0px 33px;
        border-radius:20px;
    }      
    .Mile-Container p{
        width: 287px;
        height: 96px;
        padding: 0px;
        padding: 0px 33px 0px 33px;
        margin-top: 10px;

    }
    .Mile-Container h2{
       width: 287px;
       height: 96px;
       padding: 0px 33px 0px 33px;
    }
    .btn-primary{
        width: 287px;
         height: 54px;
         margin-left: 30px;

    }
    .Training-div{
        width: 353px;
        height: 162px;
        margin-top: 30px;
  

    }
    .Training-div p{
        width: 331px;
        height: 72px;

    }
    .container{

        display:grid;
        grid-template-columns: repeat(2,1fr);
        position: relative;

    }
    .ex-img-2{
        width: 250px;
height: 256px;
position:absolute;
margin-top: -30px;
    }
    .ex-img-1{
        width: 250px;
height: 139px;
position: relative;
margin-left: -35px;
margin-top: -30px;

    }
    .ex-img-4{
        width: 200px;
height: 141px;
position: absolute;
margin-left: -65px;


    }

    .ex-img-5{
        width: 200px;
        height: 141px;
        position: absolute;
        margin-left: -35px;
        margin-top: 0px;

}
    .ex-img-3{
        display: none;
    
    }
    .ex-img-6{
        display: none;
    }

    .section-table-and-from{
        margin-top: 300px;

    }

    .our-team{
        margin-top: 150px;
        text-align: left;
        width: 353px;
        height: 124px;
        padding: 0px;
       
       }
      .our-team h2{
        font-size: 32px;
        
      }
      .our-team p{
        width: 353px;
        height: 72px;
        font-size: 14px;
        padding: 0px;
        align-items: flex-start;
      
      }

      .section-table-and-from{
        margin-top: 450px;
        flex-direction: column;
    
      }


    
    
  }