@media screen and (max-width:576px) {
    .nav-options{
        display: none;
    }

    .hambargar{
        display: block;
    }
    /* navbar-style */
    .navbar .navbar ul,li{
        display: flex;
        flex-direction: column;
    }
    .section-banner{
    

    }
    
    .section-banner-1{
      margin-bottom: 500px;

    }
  }